.page-title {
	font-size: 1.8em;
	}
	
#blog a.blog {
    color: #101820;
    border-bottom: none;
    border-left: 4px solid $nav-color;
    background-color: transparent;
    margin-left: -4px;
}

#key a.key {
    color: #101820;
    border-bottom: none;
    border-left: 4px solid $nav-color;
    background-color: transparent;
    margin-left: -4px;
}