
            <section class="footer-oss">
                <h4>Open source</h4>
                <p>
                    <a href="{{ page.source-code-policy }}">
                        View public repositories
                    </a>
                </p>
            </section>


            <section class="footer-links">
                <ul>
                    <li>
                        <a href="{{ page.organization-url }}">{{ page.organization-url }}</a>
                    </li>
                    <li>
                        <a href="{{ site.github.owner_url }}">github.com/{{ site.github.owner_name }}</a>
                    </li>
                    <li>
                        <a href="mailto:{{ page.organization-email }}">Contact us</a>
                    </li>
                </ul>
            </section>